<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ironhack meets bcrypt</h1>
    <h3>Pasos básicos</h3>
    <p>1. Crear un endpoint para registrar usuarios</p>
    <p>2. crear ruta express</p>
    <p>3. crear modelo user</p>
    <p>4. crear vista con formulario</p>
    <p>5. rellenar ruta para registrar usuario</p>
    <p>6. usar bscrypt para guardar el hash del usuario en vez de la password</p>
    <h3>Links</h3>
    <p><a href="/users/new">Dar de alta nuevo usuario</a></p>
    <p><a href="/users/login">Hacer login directo</a></p>
  </body>
</html>
