<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Intro Bcrypt with Node/Express/mongoDB </h1>
    <h3>Basic steps</h3>
    <p>1. Create an endpoint to register users</p>
    <p>2. create express route</p>
    <p>3. create user model</p>
    <p>4. create view, with form</p>
    <p>5. fill path to register user</p>
    <p>6. use bscrypt to save the user's hash instead of the password</p>
    <h3>Links</h3>
    <p><a href="/users/new">New user (Signup)</a></p>
    <p><a href="/users/login">Login</a></p>
  </body>
</html>
